<p>Em um futuro próximo, isto deverá ser preenchido pelo Rails
	a partir de uma tabela no banco de dados.
	Por enquanto, vai html estático mesmo.</p>
<hr />
<table>

	<tr>
		<td>20/12/2011</td>
		<td>Versão 0.50 publicada<br>
			Com os dois primeiros tutoriais. (ufa!)
		</td>
		<td><%= helper_imagem_historico('versao_050.png') %></td>
	</tr>

	<tr>
		<td>16 a 19/12/2011</td>
		<td>Versão 0.50 em desenvolvimento<br>
			distribuição de conteúdos por páginas,
			com menu superior e inferior,
			padronização da estilização CSS
			( <%= link_to 'ainda preciso de um melhor', contribua_path %> ),
			layout final para os dois primeiros tutoriais
		</td>
		<td></td>
	</tr>

	<tr>
		<td>14/12/2011</td>
		<td>Versão 0.10<br />
			Agora rodando no Cloud Server,
			veja a página de <%= link_to 'Infra_Estrutura', infraestrutura_path %>
		</td>
		<td><%= helper_imagem_historico('versao_010.png') %></td>
	</tr>

	<tr>
		<td>08/12/2011</td>
		<td>Cloud Server Locaweb contratado
		</td>
		<td></td>
	</tr>
	
	<tr>
		<td>07/12/2011</td>
		<td>Versão 0.10 publicada<br>
			single-page de html puro, 
			em uma hospedagem compartilhada da Locaweb
		</td>
		<td><%= helper_imagem_historico('versao_010.png') %></td>
	</tr>

	<tr>
		<td>06/12/2011</td>
		<td>Versão 0.01, tentativa sem sucesso de publicação<br>
			não consegui rodar o Rails 3.1.3 na hospedagem compartilhada 
			da Locaweb. Quase certeza que a falha era minha
			e não deles, mas desisti de qualquer forma.
		</td>
		<td></td>
	</tr>
		
</table>
