<p>Tecnologias utilizadas na construção deste projeto</p>
<p>Para o ambiente servidor: </p>
	<ul class="trademark">
		<li>"Rails", "Ruby on Rails", and the Rails logo are registered trademarks 
					of David Heinemeier Hansson.</li>
		<li>"Phusion" and "Phusion Passenger" are trademarks of Hongli Lai & Ninh Bui.</p>
		<li>Debian é uma marca registrada da Software in the Public Interest, Inc.</li>
		<li>Apache and the Apache feather logo are trademarks of The Apache Software Foundation.</li>
			
	</ul>
<table class="infra">
	<tr>
		<td width=50%>
			<%= helper_logo_infra('rails', 'rails_logo.png', 'Ruby on Rails',
									'http://rubyonrails.org/',
									'Ruby on Rails') %>
		</td>
		<td width=50%>
			<%= helper_logo_infra('ruby', 'ruby_logo.png', 'Ruby Lange',
									'http://www.ruby-lang.org/pt/',
									'Linguagem Ruby') %>
		</td>
	</tr>
	<tr>
		<td width=50%>
			<%= helper_logo_infra('rubyee', 'rubyenterprise_logo.png', 'Ruby Enterprise Edition',
									'http://www.rubyenterpriseedition.com/',
									'Ruby Enterprise Edition') %>
		</td>
		<td width=50%>
			<%= helper_logo_infra('passenger', 'passenger_logo.png', 'modpassenger',
									'http://www.modrails.com/',
									'Phusion Passenger') %>
		</td>
	</tr>
	<tr>
		<td width=50%>
			<%= helper_logo_infra('debian', 'debian_logo.png', 'OS Debian',
									'http://www.debian.org/',
									'Distribuição Linux Debian') %>
		</td>
		<td width=50%>
			<%= helper_logo_infra('apache', 'apache_logo.png', 'Apache Http Server',
									'http://projects.apache.org/projects/http_server.html',
									'Http Server Apache') %>
		</td>
		
	</tr>
</table>
<p>Adicionalmente, para o ambiente de desenvolvimento, são utilizados:</p>
	<ul class="trademark">
		<li>Eu sinceramente creio que "Oracle" e "VirtualBox" sejam marcas registradas,
				mas não achei o aviso de trademark nos respectivos sites.</li>
		<li>"Ubuntu" é uma marca registrada da Canonical Ltda.</p>
		<li>"Aptana" é uma marca registrada da Appcelerator, Inc.</li>
		<li>Também não encontrei o aviso de trademark do "Chromiun"</li>
			
	</ul>
<table class="infra">
	<tr>
		<td width=50%>
			<%= helper_logo_infra('virtualbox', 'virtualbox_logo.png', 'Oracle VirtualBox',
									'https://www.virtualbox.org/',
									'Oracle VirtualBox') %>
		</td>
		<td width=50%>
			<%= helper_logo_infra('ubuntu', 'ubuntu_logo.png', 'Ubuntu',
									'http://www.ubuntu-br.org/',
									'Distribuição Linux Ubuntu') %>
		</td>
	</tr>
	<tr>
		<td width=50%>
			<%= helper_logo_infra('aptana', 'aptana_logo.png', 'Aptana Studio',
									'http://www.aptana.org/',
									'IDE Aptana Studio') %>
		</td>
		<td width=50%>
			<%= helper_logo_infra('chromiun', 'chromiun_logo.png', 'chromiun',
									'http://www.chromium.org/Home',
									'Navegador Chromiun') %>
		</td>
	</tr>
</table>	