<h3>Origem</h3>
	<p>Este projeto nasceu com o objetivo de estudar o framework RubyOnRails.</p>
	<p>Acontece que sou um péssimo estudante, não consigo aprender algo apenas examinando a teoria,
			preciso de um objetivo real, onde possa enfrentar problemas reais
			e me sentir obrigado a correr atrás das soluções.<br>
		Provavelmente este é um dos motivos que me levaram a entrar 
			no mundo de desenvolvimento de software:
			o desafio de problemas novos todos os dias,
			para os quais existe um solução que pode ser desconhecida,
			mas pode ser alcançada ou encontrada de alguma forma. 
		</p>
		
<h3>Proposta</h3>
	<ul>
		<li>Desenvolver uma aplicação RubyOnRails, explorando o máximo de recursos do framework. 
			Gradativamente, disponibilizar:
		</li>
		<ul>
			<li>área de tutoriais e guias para download, cobrindo os desafios enfrentados;
			</li>
				<ul>
					<li>permitir a publicação também por usuários cadastrados;
					</li>
				</ul>
			<li>área de estudo de algoritmos, 
					comparando a solução para o mesmo problema lógico em diversas linguagens
					(pascal, java, ruby, python, php, entre outras);
			</li>
			<li>área de alunos da Fatec, oferecendo:
			</li>
				<ul>
					
					<li>
						cadastro no site, com login opcional via API do facebook
					</li>
					<li>
						gerenciamento de turma, pelos próprios alunos:
							<ul>
								<li>
									calendário de provas e trabalhos
								</li>
								<li>
									materiais adicionais para estudos
								</li>
							</ul>
					</li>
					<li>
						divulgação de atividades diversas (viagens e eventos técnicos, festas)
					</li>					
				</ul>
		</ul>	
		<li>Obter envolvimento/colaboração de alunos da Fatec.</li>
		<li>Incentivar o aprendizado e desenvolvimento com RubyOnRails entre alunos da Fatec.</li>
	</ul>	
<h3>Agradecimentos</h3>
	<p>Fontes de inspiração:</p>	
	<ul>
		<li>
			Agradecimento especial à 
			<%= link_to 'Rails Tutorial: Learn Rails by Example', 'http://ruby.railstutorial.org/ruby-on-rails-tutorial-book'%>
			, do grande <%= link_to 'Michael Hartl', 'http://www.michaelhartl.com/'%>;
		</li>

		<li>
			<%= link_to 'Ruby on Rails Brasil', 'http://rubyonrails.com.br/'%>
			e
			<%= link_to 'Ruby on Rails oficial', 'http://rubyonrails.org/'%>;
		</li>
		<li>
			<%= link_to 'StackOverFlow', 'http://stackoverflow.com/questions/tagged/ruby-on-rails'%>,
			um fórum muito útil;
		</li>
		<li>
			<%= link_to 'Fábio Akita, via AkitaOnRails', 'http://akitaonrails.com/'%>,
			se você ainda não sabe quem é, deveria saber;
		</li>
		<li>
			<%= link_to 'GoNow!', 'http://www.gonow.com.br/gonow'%>,
			porque foi uma visita com pessoal da faculdade lá que deu o empurrão
			inicial para o início deste projeto;
		</li>		
		<li>
			<%= link_to 'Blog de Erika Sarti', 'http://erikasarti.com/'%>,
			ainda preciso estudar mais as dicas que tem lá.
		</li>
		<li>
			Desculpas a todos os que não foram citados.
		</li>
		<li>
			Veja mais na página de 
				<%= link_to 'Infra-Estrutura', infraestrutura_path %>
		</li>
	</ul>
	<h4>Aviso de Responsabilidade</h4>
	<p>Nenhuma das pessoas/websites/entidades listados deram autorização para que fossem incluídos nesta página,
		e em nenhum momento endossaram ou recomendaram qualquer conteúdo publicado neste website.</p> 

