<p>
		<% if user_signed_in? %>
			usuário logado! ( <%= current_user.email %> )</p>
		<% else %>
			não entrou ainda! <%= link_to "Entrar via Facebook", user_omniauth_authorize_path(:facebook) %></p>
		<% end %>
<% if (!flash.nil?) && (flash.count >= 1) %>		
		<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
<% end %>   
  
<% if (!notice.nil?) && (notice.count >= 1) %>	   
		<% notice.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>        
<% end %>
