		<header>
			<% logo = image_tag("sem_logo.gif", :alt => "Alguém pode criar um logo pra pôr aqui?", :class => "logotipo round")%>
  			<%= link_to logo, contribua_path %>
  			
         	<nav class="round">
          		<ul> 			
           	 		<li><%= link_to "Home", 		root_path %></li>
            		<li><%= link_to "Contribua", 	contribua_path %></li>
            		<li><%= link_to "Histórico", 	historico_path %></li>            		
            		<li><%= link_to "Cronograma", 	cronograma_path %></li>
            		<li><%= link_to "Tutoriais", 	tutoriais_path %></li>
				</ul>
				<hr>
				
          		<ul>
          		
          			<% if @logging_out %>
          				<p>logging out </p>
          				<% session.warden.user.user.key = "" %>
          			<% end %>
          		

        	     <% if !user_signed_in? %>

						<li>não entrou ainda! <br><%= link_to "Entrar via Facebook", user_omniauth_authorize_path(:facebook) %></li>

					<li>login manual: <%= render "layouts/facebook/login_manual" %></li>
				<% else %>
					<li>Usuário: <%= current_user.email %> <br />
						<%= link_to "Sair", facebook_logout_path %>
					</li>
				<% end %>
				
					<li><%= render "layouts/facebook/botaocurtir"%></li>
					
          		</ul>	
          		<hr>			
        	</nav>
        	
		</header>