<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>AdsItape.com | <%= title %></title>
  <meta name="author" content="Luiz Soares de Jesus" />
  <meta name="keywords" content="rails, ruby on rails, desenvolvimento, tutoriais, fatec, itapetininga" />
  <meta name="description" content="desenvolvimento de projetos ruby on rails" />
  <meta http-equiv="content-language" content="pt-br" />
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
  <meta name="reply-to" content="luiz.jesus@fatec.sp.gov.br" />
  
  
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	
	<div class="container">
		<%= render 'layouts/header' %>

		<div class="conteudo">
		<%= yield %>
		</div>
		
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
