    <% if Rails.env.development? %>
    <% @facebook_id =  "308830389185988" %>
    <% @facebook_secret = "eb00a37ffea22c5ec66ba5805e12aaa7" %>
  <% else %>
    <% if Rails.env.production? %>
      <% @facebook_id =  "256502224413686" %>
      <% @facebook_secret = "f0cf4fa2da48ad874325b43d686b760c" %>
    <% end %>
  <% end %>

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="author" content="Luiz Soares de Jesus" />
  <meta name="keywords" content="rails, ruby on rails, desenvolvimento, tutoriais, fatec, itapetininga" />
  <meta name="description" content="desenvolvimento de projetos ruby on rails" />
  <meta http-equiv="content-language" content="pt-br" />
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
  <meta name="reply-to" content="luiz.jesus@fatec.sp.gov.br" />
  <meta property="fb:admins" content="100003033741161" />
  
  
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container round">
		<%= render 'layouts/header' %>
		
		<div class="conteudo">
		<%= topo_adsitape %>
		
		<%= render "layouts/facebook/botaocurtir"%>
		
		<%= yield %>
		</div>
		
		<%= render 'layouts/footer' %>
		 <%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
